<footer class="deneb_footer">
	<div class="widget_wrapper mt-5" style="background-image: url(https://i.imgur.com/Icmfz2G.png);">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12 d-flex justify-content-center">
					<div class="widget widegt_about">
                        <div class="widget_title">
							<h4 class="text-center p-0">Nossa missão</h4>
						</div>
						<p class="text-center text-white p-size">A eco.Book acredita que um dos caminhos para o desenvolvimento sustentável é a educação. Incentivamos a leitura com consumo consciente: adquirir conhecimentos com o mínimo possível de impacto na natureza.</p>
						<ul class="social d-flex justify-content-center p-0">
							<li><a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-github fa-2x"></i></a></li>
							<li><a href="#" class="d-flex align-items-center justify-content-center"><i class="fa fa-instagram fa-2x"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4 class="text-center p-0">Links</h4>
						</div>
						<ul class="p-0">
							<li><a [routerLink]="['/contato']">Contato</a></li>
							<li><a href="https://brazil.generation.org/" target="_blank">Generation Brasil</a></li>
							<li><a [routerLink]="['/about-us']">Sobre nós</a></li>                            
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4 class="text-center p-0">Parceiros</h4>
						</div>
						<div class="partners_info">		
							<ul class="d-flex justify-content-center">
								<li>
									<a href=""><img src="https://i.imgur.com/xiJl3UK.png" alt="Logo de Action For Life" width="80px"></a>
								</li>
								<li>
									<a href=""><img src="https://i.imgur.com/KRSQcI3.png" alt="Logo de Baependi" width="80px"></a>
								</li>
							</ul>
							<ul>
								<li>
									<a href=""><img src="https://i.imgur.com/aQLoUSP.png" alt="Logo de Ecous" width="80px"></a>
								</li>
								<li>
									<a href=""><img src="https://i.imgur.com/UAYqHLe.png" alt="Logo de Climatika" width="80px"></a>
								</li>
								<li>
									<a href=""><img src="https://i.imgur.com/4YnFAGK.png" alt="Logo de Gaia" width="80px"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright_text">
						<p>Copyright &copy; 2021. Todos os direitos reservados. eco.Book.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>