<div class="sn">
    <h1 class="titulo">
      Quem somos nós?
    </h1>
    <br>
    <div class="row">
      <div class="col-md-6">

    <p class="card-text">
      A EcoBook nasceu de uma idéia de um grupo de 6 amigos com anseio em um "amanhã" melhor, o que abrange muitas partes das nossas vidas, sendo a principal: PRESERVAÇÃO DA NATUREZA. 
      Sabemos que, cada atitude, seja ela uma das mais simples, como separar o lixo domestico, ou uma mais complexa, como reunir amigos para recolher lixo na praia ou parques, etc, é muito importante para o futuro do nosso Planeta, do nosso futuro, dos nossos entes queridos.. 
      Sendo assim, o nosso maior objetivo é ser uma empresa 100% focada em ações preventivas. <br> Gostariamos de reeiterar que: grande parte do nosso acervo de livros, são e-books, evitando o desmatamento desenfreado.. E, para quem opta por livro fisíco: tudo bem também! Pois a Ecobook garante o reflorestamento, investindo uma porcentagem da nossa renda, no replantio de árvores! Incrível né? Ainda tem mais!!! Nossas entregas, na região de São Paulo (onde é nossa sede, POR ENQUANTO), são feitas de bike, com a nossa parceira TransEntrega, ou seja, sem emissão de carbonos!! <br>
      Desde já, queremos agradecer pela preferência e por compartilhar conosco do nosso sonho! <br>
      #PorUmPlanetaMelhor <br>
      Com amor, muito conhecimento, muita leitura e muitas árvores, <br>
      Gabi, Nic, Caio, Julio, Mari e Wes!
    </p>
</div>
<div class="col-md-6">
    <img src="img\livros.jpeg" alt="">
</div>
    </div>
    <br>
    <br>

    <div class="card-deck">
        <div class="card">
          <img src="https://avatars.githubusercontent.com/u/88196586?v=4" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nicole Xavier</h5>
            <p class="card-text"> 25 anos, paulista. Estudo Análise e desenvolvimento de sistemas na FMU, segundo semestre.</p>
            <a href="https://github.com/NicXavier" class="btn btn-dark">Github</a>
            <a href="https://www.linkedin.com/in/nicole-xavier-478b0b208/" class="btn btn-dark">Linkedin</a>
          </div>
        </div>
        <div class="card">
          <img src="https://avatars.githubusercontent.com/u/88195108?v=4" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Julio Cesar</h5>
            <p class="card-text">23 anos, entrando na area de tecnologia e sempre buscando por coisas novas e evoluindo meus conhecimentos</p>
            <a href="https://github.com/JulioBonffim" class="btn btn-dark">Github</a>
            <a href="https://www.linkedin.com/in/julio-cesar-bonfim-180836218/" class="btn btn-dark">Linkedin</a>
          </div>
        </div>
        <div class="card">
          <img src="https://avatars.githubusercontent.com/u/88197570?s=400&u=973b7c2b4f0bfa9dde2dae20cab7e053da784c87&v=4" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mariana Souza</h5>
            <p class="card-text">24 anos. Me desafiando para conciliar programação e maternindade.</p>
            <a href="https://github.com/m4rianas" class="btn btn-dark">Github</a>
            <a href="https://www.linkedin.com/in/mariana-souza-2a92b9219/" class="btn btn-dark">Linkedin</a>
          </div>
        </div>
      </div>
      <br>
      <br>
  
    
    <h1 class="titulo"> O nosso projeto:
    </h1>
    <p class="card-txt">
      Ecobook é um projeto que nasceu junto com a nossa jornada com a generation.
      Dia 16 de julho, na aula zero, o projeto integrador já estava em pauta.. Porém, só começou tomar forma, no segundo bloco, onde conhecemos o tema: os riscos relacionados ao clima e as catastrofes naturais, que fazem parte das ODS da ONU e nós trabalhamos com a décima terceira <a href="https://www.ipea.gov.br/ods/ods13.html">(clique aqui para conhecer um pouco mais sobre a ODS 13)</a>. 
      O nosso grupo, optou pela criação de um E-commerce, voltado á venda de livros, tanto físicos quanto e-books, onde, uma porcentagem do valor de arrecadação, é revertido ao reflorestamento e ações que buscam ajudar a natureza. 
      Conhecemos os integrantes grupo, na qual, trabalhamos em diversos projetos. Criamos um ambiente de muita cumplicidade, respeito, amizade e apoio. Pessoas que foram fundamentais para nossa trajetoria e para chegarmos até aqui. 
      Neste bloco, também nos foi apresentado como seria a execução do projeto, quais métodos seriam utilizados, quais frameworks e afins.. 
      E agora, nós temos a honra de apresentar o nosso projeto integrador, que nasceu na generation, mas foi criado com nossos mais sinceros sentimentos, sobretudo, de gratidão. Estamos muito felizes e satisfeitos, acreditamos que atendemos as expectativas, e temos um anseio enorme para que um dia, a Ecobook seja mais do que um projeto e sim uma realidade!
    </p>
    <br>
    <br>

    <div class="card-deck">
        <div class="card">
          <img src="https://avatars.githubusercontent.com/u/87864802?v=4" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Weslley Paiva</h5>
            <p class="card-text">22 anos. Com um pé na área da tecnologia, formado em prod. Audiovisual, mergulho no mundo dev tornando minha língua a programação</p>
            <a href="https://github.com/paivawes" class="btn btn-dark">Github</a>
            <a href="https://www.linkedin.com/in/paivawes/" class="btn btn-dark">Linkedin</a>
          </div>
        </div>
        <div class="card">
            <img src="https://avatars.githubusercontent.com/u/83046200?v=4" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gabriela Ribeiro</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <a href="https://github.com/gabsribeiro" class="btn btn-dark">Github</a>
              <a href="https://www.linkedin.com/in/g-sribeiro/" class="btn btn-dark">Linkedin</a>
            </div>
          </div>
        <div class="card">
          <img src="https://avatars.githubusercontent.com/u/56900094?v=4" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Caio Vinicius</h5>
            <p class="card-text">Estudante de ciência da computação na faculdade Impacta.</p>
            <a href="https://github.com/Caiovg" class="btn btn-dark">Github</a>
            <a href="https://www.linkedin.com/in/caio-vinicius-gon%C3%A7alves-6160911a8/" class="btn btn-dark">Linkedin</a>
          </div>
        </div>
        
      </div>
