@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.navbar {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#logo-style {
    font-family: 'Indie Flower', cursive;
    color: #fff;
    font-size: 26px;
}

.bg-color {
    background-color: #B5BF65;
}

.bg-color2 {
    background-color: #90A641;
}

.btn-color {
    background-color: #BFAF80;
    color: #fff;
}

.dropdown-item {
    color: #fff;
}

.dropdown-menu {
    background-color: #90A641;
}

.nav-items {
    font-size: 10pt;
}

.fa-nav {
    font-size: 15pt;
    border: none;
}

