@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.navbar {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

#logo-style {
  font-family: "Indie Flower", cursive;
  color: #fff;
  font-size: 26px;
}

.bg-color {
  background-color: #b5bf65;
}

.bg-color2 {
  background-color: #90a641;
}

.btn-color {
  background-color: #bfaf80;
  color: #fff;
}

.dropdown-item {
  color: #fff;
}

.dropdown-menu {
  background-color: #90a641;
}

.nav-items {
  font-size: 10pt;
}

.fa-nav {
  font-size: 15pt;
  border: none;
}

.style-category:hover {
    background-color: #b5bf65;
    color: #fff;
}

.links-style:hover {
    background-color: #b5bf65;
    border-radius: 10px;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

a:hover{
  color: #fff;
}