@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#img-bg {
    background-image: url('https://i.imgur.com/ueihUqZ.png');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    color: #fff;
    font-size: 26px;
}

.navbar-color {
    background-color: #90A641;
}

.col-style {
    border: 1px solid #ebe8e8;
}

.btn {
    width: 100px;
}

.title-form {
    font-size: 20px;
    font-weight: 500;
}

.btn-color {
    background-color: #90A641;
    color: white;
    font-weight: 400;
    border-radius: 20px;
}

.btn-color:hover {
    background-color: #738623;
}

.back-home {
    cursor: pointer;
}