<nav class="navbar navbar-expand-lg navbar-color">
    <a class="navbar-brand align-text-bottom h-100" href="#">
        <img src="https://gist.githubusercontent.com/gabsribeiro/df4d45fc3d74617fd843d93eddfc43a6/raw/c2fbd7c19a1eb53c1b94e011a2d776a422acaa34/Group%25209.svg" class="align-bottom" width="92" height="40" alt="Logo da eco.Book">
    </a>
</nav>
<div class="container-fluid h-100">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-style">
                    <h4 class="text-center title-form mt-4">Faça seu login</h4>
                    <div class="form-group mx-3">
                        <label for="user">E-mail</label>
                        <input [(ngModel)]='userDto.email' style="border:1px solid #727171" class="form-control " type="text" name="user" id="user"
                            placeholder="Insira seu E-mail">
                    </div>
                    <div class="form-grou mx-3">
                        <label for="password">Senha</label>
                        <input [(ngModel)]='userDto.password' style="border:1px solid #727171" class="form-control" type="password" name="password"
                            id="password" placeholder="Insira sua senha">
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-color" (click)='login()'>Entrar</button>
                    </div>
                    <hr class="my-4">
                    <p class="text-center my-4">Não tem uma conta? <a routerLink='/cadastro'>Cadastre-se</a> </p>
                </div>

            </div>
        </div>
        <div class="d-none d-md-block">
            <div class="col-md-4 d-flex align" id="img-bg" style="min-height: 700px; width: 500px;"></div>
        </div>
        <div class="d-md-none d-sm-block">
            <div class="col-md-4 d-flex align" id="img-bg" style="min-height: 295px; width: 350px;"></div>
        </div>
    </div>
</div>