@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#img-bg {
    background-image: url('https://i.imgur.com/ueihUqZ.png');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.navbar-brand {
    font-family: 'Indie Flower', cursive;
    color: #fff;
    font-size: 26px;
}

.navbar-color {
    background-color: #90A641;
}

.col-style {
    border: 2px solid #ebe8e8;
    border-radius: 15px;
}

.btn {
    width: 100px;
}

.title-form {
    font-size: 20px;
    font-weight: 500;
}

.btn-color {
    background-color: #B5BF65;
    color: white;
    font-weight: 400;
    border-radius: 20px;
}

.btn-color:hover {
    background-color: #738623;
}

.back-home {
    cursor: pointer;
}

.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
