<div class="container-fluid">
    <div class="row d-flex align-items-center" style="background-color: #B5BF65;">
        <div class="col-md-6">
            <div class="d-none d-md-block">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 text-white">
                        <h1 class="fs-54">Configure o site :}</h1>
                    </div>
                </div>
            </div>
            <div class="d-md-none d-sm-block">
                <div class="row d-flex justify-content-center mt-2">
                    <div class="col-md-6 text-white">
                        <h1 class="fs-30">Configure o site :}</h1>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center text-center mt-2 mb-1">
                <div class="col-md-6">
                    <button class="btn btn-outline-light mr-2" data-toggle="modal" data-target="#novaPostagem">Novo
                        Livro</button>
                    <a href="#books-card" class="btn btn-outline-light">Ver Livros</a>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block">
            <div class="col-md-4 d-flex justify-content-center">
                <img src="https://i.imgur.com/eCQ7xRN.png" alt="" width="500px" height="500px">
            </div>
        </div>
        <div class="d-md-none d-sm-block">
            <div class="col-md-4 d-flex justify-content-center">
                <img src="https://i.imgur.com/eCQ7xRN.png" alt="" width="300px" height="300px">
            </div>
        </div>
    </div>
</div>

<!-- Books card -->
<div class="container mt-5 mb-5"></div>
<div class="container justify-content-center">
    <div class="row my-5">
        <div class="col-md-3 col-sm-6" *ngFor='let item of listBook'>
            <div class="product-grid3" [routerLink]="['/vitrine',item.idProduct]">
                <div class="product-image3">
                    <a href="#">
                        <div class="d-none d-md-block">
                            <img class="pic-1" src="{{item.photo}}" alt="book-img">
                            <img class="pic-2" src="{{item.photo}}" alt="book-img">
                        </div>
                        <div class="d-md-none d-sm-block">
                            <img class="pic-1" src="{{item.photo}}" alt="book-img" style="max-width:550px; max-height:400px; width: auto; height: auto;">
                            <img class="pic-2" src="{{item.photo}}" alt="book-img" style="max-width:550px; max-height:400px; width: auto; height: auto;">
                        </div>
                    </a>
                    <ul class="social">
                        <li><a [routerLink]="['/book-edit', item.idProduct]" data-toogle="tooltip" title="Editar"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a></li>
                        <li><a [routerLink]="['/book-delete', item.idProduct]" data-toogle="tooltip"
                                title="Deletar"><i class="fa fa-trash" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="product-content mb-5">
                    <h3 class="title"><a>{{item.publisher}}</a></h3>
                    <h5 class="title-book"><a>{{item.title}}</a></h5>
                    <div class="price">
                        {{item.price | currency : 'BRL'}}
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5"></div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="novaPostagem" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Novo Livro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="FormGroup">
                    <div class="d-flex">
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">Titulo</label>
                            <input formControlName="titulo" [(ngModel)]="book.title" type="text" class="form-control"
                                id="titulo" placeholder="Digite o titulo">
                        </div>
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">Link da Foto</label>
                            <input formControlName="photo" [(ngModel)]="book.photo" type="text" class="form-control"
                                id="photo" placeholder="Digite o link da foto">
                        </div>
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">Preço</label>
                            <input formControlName="preco" [(ngModel)]="book.price" currencyMask
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" class="form-control"
                                id="preco" placeholder="Digite o preço">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="texto">Descrição</label>
                        <textarea formControlName="descricao" [(ngModel)]="book.description" class="form-control"
                            name="texto" id="texto" rows="3" placeholder="Digite a descrição do livro"></textarea>
                    </div>
                    <div class="d-flex">
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">Autor</label>
                            <input formControlName="autor" [(ngModel)]="book.author" type="text" class="form-control"
                                id="autor" placeholder="Digite o titulo">
                        </div>
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">Ano de publicação</label>
                            <input formControlName="ano" [(ngModel)]="book.year" type="number" class="form-control"
                                id="ano" placeholder="Digite o ano de publicação do livro">
                        </div>
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">Estoque</label>
                            <input formControlName="estoque" [(ngModel)]="book.inventory" type="number"
                                class="form-control" id="estoque" placeholder="Digite o estoque">
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">Linguagem</label>
                            <input formControlName="linguagem" [(ngModel)]="book.language" type="text"
                                class="form-control" id="linguagem" placeholder="Digite a linguagem">
                        </div>
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">isbn</label>
                            <input formControlName="isbn" [(ngModel)]="book.isbn" type="number" class="form-control"
                                id="isbn" placeholder="Digite o codigo isbn">
                        </div>
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">ean</label>
                            <input formControlName="ean" [(ngModel)]="book.ean" type="number" class="form-control"
                                id="ean" placeholder="Digite o codigo ean">
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">País</label>
                            <input formControlName="pais" [(ngModel)]="book.country" type="text" class="form-control"
                                id="pais" placeholder="Digite o País">
                        </div>
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">Editora</label>
                            <input formControlName="editora" [(ngModel)]="book.publisher" type="text"
                                class="form-control" id="editora" placeholder="Digite a editora">
                        </div>
                        <div class="form-group mr-2 col-md-4">
                            <label for="titulo">Formato</label>
                            <select [(ngModel)]="book.format" formControlName="formato" class="form-control"
                                name="formato" id="formato">
                                <option value="digital">Digital</option>
                                <option value="fisico">Fisico</option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="form-group mr-2 col-md-5">
                            <label for="titulo">Paginas</label>
                            <input formControlName="paginas" [(ngModel)]="book.pages" type="number" class="form-control"
                                id="paginas" placeholder="Digite a quantidade de paginas">
                        </div>
                        <div class="form-group mr-2 col-md-5">
                            <label for="texto">Escolha uma categoria ou <a routerLink="/category"
                                    data-dismiss="modal">cadastre uma
                                    nova</a>:</label>
                            <select formControlName="tema" class="form-control" name="tema" id="tema"
                                [(ngModel)]='idCategory' (change)='findByIdCategory()'>
                                <option *ngFor='let item of listCategory' value="{{item.idCategory}}">{{item.genre}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button [disabled]="!FormGroup.valid" type="button" class="btn btn-success" (click)="post()"
                    data-dismiss="modal">Publicar</button>
            </div>
        </div>
    </div>
</div>