<nav class="navbar navbar-expand-lg navbar-color">
    <a class="navbar-brand align-text-bottom h-100" href="#">
        <img src="https://gist.githubusercontent.com/gabsribeiro/df4d45fc3d74617fd843d93eddfc43a6/raw/c2fbd7c19a1eb53c1b94e011a2d776a422acaa34/Group%25209.svg" class="align-bottom" width="92" height="40" alt="Logo da eco.Book">
    </a>
</nav>
<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-6 col-style">
                    <div class="tab-content" id="pills-tabContent">
                        <!--Etapa1 do cadastro-->
                        <div class="tab-pane fade show active" id="pills-etapa1" role="tabpanel"
                            aria-labelledby="pills-etapa1-tab">
                            <form [formGroup]="FormGroup">
                                <h3 class="title-form text-center mt-3 mb-4">Etapa 1</h3>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                                <div class="form-group my-4">
                                    <div class="label">CEP</div>
                                    <input formControlName="cep" style="border:1px solid #727171" class="form-control" type="text" mask="00000-000"
                                        name="cep" id="cep" [(ngModel)]="user.cep" placeholder="Ex: 01234-567" (blur)='buscar()'>
                                </div>
                                <div class="form-group my-3">
                                    <div class="label">Endereço</div>
                                    <input formControlName="logradouro" style="border:1px solid #727171" class="form-control" type="text"
                                        name="logradouro" id="logradouro" [(ngModel)]="user.address"
                                        placeholder="Rua das Laranjeiras">
                                </div>
                                <div class="form-group my-3">
                                    <div class="label">Bairro</div>
                                    <input formControlName="bairro" style="border:1px solid #727171" class="form-control" type="text" name="bairro"
                                        id="bairro" [(ngModel)]="user.district" placeholder="Bairro">
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <button class="btn mr-4 btn-color" routerLink="/login">Voltar</button>
                                    <button [disabled]="!FormGroup.valid" class="btn btn-color" id="pills-etapa2-tab"
                                        data-toggle="pill" href="#pills-etapa2" role="tab" aria-controls="pills-etapa2"
                                        aria-selected="false">
                                        Próximo
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--Etapa2 do cadastro-->
                        <div class="tab-pane fade" id="pills-etapa2" role="tabpanel" aria-labelledby="pills-etapa2-tab">
                            <form [formGroup]="FormGroup1">
                                <h3 class="title-form text-center mt-3 mb-4">Etapa 2</h3>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="form-group my-4">
                                    <div class="label">Número</div>
                                    <input formControlName="numero" style="border:1px solid #727171" class="form-control" type="text"
                                        [(ngModel)]="user.number" name="numero" id="numero" required
                                        placeholder="Número">
                                </div>
                                <!--<div class="form-group my-3">
                                    <div class="label">Complemento</div>
                                    <input formControlName="complemento" class="form-control" type="text" [(ngModel)]="user.complement" name="compl"
                                        id="compl" placeholder="Ex: Bloco2 Apto100">
                                </div>-->
                                <div class="form-group my-3">
                                    <div class="label">Cidade</div>
                                    <input formControlName="cidade" style="border:1px solid #727171" class="form-control" type="text" name="cidade"
                                        id="cidade" [(ngModel)]="user.city" placeholder="Cidade">
                                </div>
                                <div class="form-group my-3">
                                    <div class="label">UF</div>
                                    <input formControlName="uf" style="border:1px solid #727171" class="form-control" type="text" name="estado"
                                        id="estado" [(ngModel)]="user.state" required placeholder="Estado">
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <button [disabled]="!FormGroup1.valid" class="btn btn-color" id="pills-etapa3-tab"
                                        data-toggle="pill" href="#pills-etapa3" role="tab" aria-controls="pills-etapa3"
                                        aria-selected="false">
                                        Próximo
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--Etapa3 do cadastro-->
                        <div class="tab-pane fade" id="pills-etapa3" role="tabpanel" aria-labelledby="pills-etapa3-tab">
                            <form [formGroup]="FormGroup2">
                                <h3 class="title-form text-center mt-3 mb-4">Etapa 3</h3>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="form-group my-4">
                                    <div class="label">Nome Completo</div>
                                    <input formControlName="nome" style="border:1px solid #727171" class="form-control" type="text" name="name" id="name"
                                        [(ngModel)]="user.name" required placeholder="Nome e sobrenome">
                                </div>
                                <div class="form-group my-3">
                                    <div class="label">CPF</div>
                                    <input formControlName="cpf" style="border:1px solid #727171" class="form-control" type="text" [(ngModel)]="user.cpf"
                                        mask="000.000.000-00" name="cpf" id="cpf" required placeholder="CPF">
                                </div>
                                <div class="form-group my-3">
                                    <div class="label">Telefone</div>
                                    <input formControlName="telefone" style="border:1px solid #727171" class="form-control" type="text"
                                        [(ngModel)]="user.phone" mask="(00) 00000-0000" name="phone" id="phone" required
                                        placeholder="(xx) 99999-9999">
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <button [disabled]="!FormGroup2.valid" class="btn btn-color" id="pills-etapa4-tab"
                                        data-toggle="pill" href="#pills-etapa4" role="tab" aria-controls="pills-etapa4"
                                        aria-selected="false">
                                        Próximo
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!--Etapa4 do cadastro-->
                        <div class="tab-pane fade" id="pills-etapa4" role="tabpanel" aria-labelledby="pills-etapa4-tab">
                            <form [formGroup]="FormGroup3">
                                <h3 class="title-form text-center mt-3 mb-4">Etapa final</h3>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="form-group my-4">
                                    <div class="label">E-mail</div>
                                    <input formControlName="email" style="border:1px solid #727171" class="form-control" type="email"
                                        [(ngModel)]="user.email" name="email" id="email" required autocomplete="off"
                                        placeholder="Ex: nome@email.com">
                                </div>
                                <div class="form-group my-3">
                                    <div class="label">Senha</div>
                                    <input formControlName="senha" style="border:1px solid #727171" class="form-control" (input)='confirmSenha($event)'
                                        type="password" name="senha" id="senha" required placeholder="Senha">
                                </div>
                                <div class="form-group my-3">
                                    <div class="label">Confirmar senha</div>
                                    <input formControlName="conSenha" style="border:1px solid #727171" class="form-control" type="password"
                                        [(ngModel)]="user.password" name="Confsenha" id="Confsenha" required
                                        placeholder="Confirme sua senha">
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <button class="btn btn-color mr-4" routerLink="">
                                        Início
                                    </button>
                                    <button [disabled]="!FormGroup3.valid" type="submit" class="btn btn-color"
                                        (click)='cadastrar()'>
                                        Cadastrar
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block">
            <div class="col-md-6" id="img-bg" style="min-height: 700px; width: 500px;"></div>
        </div>
        <div class="d-md-none d-sm-block">
            <div class="col-md-4" id="img-bg" style="min-height: 295px; width: 350px;"></div>
        </div>
    </div>
</div>