@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#img-bg {
  background-image: url('https://i.imgur.com/fDR5IxO.png');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}
.col-md-4 {
  border: 1px solid #727171;
}

.mat-form-field {
  margin-top: 16px;
}

.btn-sm {
  border-radius: 14px;
}

.title-form {
  font-size: 20px;
  font-weight: 500;
}

::placeholder {
  color: rgb(90, 90, 90);
  font-size: 14px;
}

.btn-color {
  background-color: #90A641;
  color: white;
  font-weight: 400;
  border: none;
  width: 100px;
  border-radius: 20px;
}

.btn-color:hover {
  background-color: #738623;
}

.col-style {
  border: 2px solid #727171;
  border-radius: 15px;
}

.navbar-color {
  background-color: #90A641;
}

.navbar-brand {
  font-family: 'Indie Flower', cursive;
  color: #fff;
  font-size: 26px;
}

.progress-bar {
  background-color: #90A641;
}

.progress{
  background-color: #BAB8B5;
}