<div class="container mt-5 mb-5 p-0 d-flex justify-content-center">
  <h2 class="mt-5">Finalize sua compra</h2>
</div>

<div class="row mb-5 border" *ngFor="let item of bookcard">
  <div class="col-sm-1"></div>
  <div class="col-sm-4 mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="">Informações do pedido</th>
          <th scope=""></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Livro</th>
          <h1>{{ item.title }}</h1>
        </tr>
        <tr>
          <th scope="row">Autor</th>
          <td>{{ item.author }}</td>
        </tr>
        <tr>
          <th scope="row">Preço</th>
          <td>{{ item.price | currency: "BRL" }}</td>
        </tr>
        <tr>
          <th scope="row">Total</th>
          <td>$$$</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-1"></div>
</div>

<div class="row container mt-5 mb-5 m-auto border">
  <div class="col-sm-1"></div>

  <!-- dados de entrega  -->
  <div class="col-sm-5 mt-4 mr-3 mb-4">
    <h3 class="d-flex justify-content-center">Dados de entrega</h3>

    <div>
      <div class="form-group">
        <label>Nome</label>
        <input class="form-control" name="nome" autocomplete="given-name" />
      </div>
    </div>

    <div>
      <div class="form-group">
        <label>Sobrenome</label>
        <input
          class="form-control"
          name="sobrenome"
          autocomplete="family-name"
        />
      </div>
    </div>

    <div>
      <div class="form-group">
        <label>CEP</label>
        <div class="row">
          <div class="col-sm-9">
            <input
              [(ngModel)]="user.cep"
              class="form-control"
              name="cep"
              autocomplete="shipping postal-code"
            />
          </div>
          <div class="col-sm-3">
            <div class="d-flex justify-content-center">
              <button
                (click)="buscarCep()"
                class="btn text-light cor-buttom-2 shadow-sm"
                type="button"
                id="button-addon2"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="form-group">
        <div class="row">
          <div class="form-group col-sm-9">
            <label>Endereço</label>
            <input
              [(ngModel)]="user.address"
              class="form-control"
              name="endereco"
              autocomplete="shipping address-line1"
            />
          </div>
          <div class="col-sm-3">
            <label>Numero</label>
            <input class="form-control" name="numCasa" autocomplete="" />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="form-group">
        <label>Bairro</label>
        <input
          [(ngModel)]="user.district"
          class="form-control"
          name="bairro"
          autocomplete="shipping address-line2"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <div class="form-group">
          <label>Cidade</label>
          <input
            class="form-control"
            name="cidade"
            autocomplete="shipping address-level2"
          />
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label>UF</label>
          <input
            class="form-control"
            name="uf"
            autocomplete="shipping address-level1"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- dados de pegamento -->

  <div class="col-sm-5 mt-4 mb-4">
    <h3 class="d-flex justify-content-center text-center">Dados de Pagamento</h3>

    <div>
      <div class="row d-flex justify-content-center mt-5">
        <h3 class="row">Pague com Google Pay</h3>

        <google-pay-button
          class="row mt-5"
          (click)="confirCompra()"
          [routerLink]="['/home']"
          environment="TEST"
          buttonType="buy"
          buttonColor="white"
          [paymentRequest]="{
            apiVersion: 2,
            apiVersionMinor: 0,
            allowedPaymentMethods: [
              {
                type: 'CARD',
                parameters: {
                  allowedAuthMethods: ['PAN_ONLY', 'CRYPTOGRAM_3DS'],
                  allowedCardNetworks: ['AMEX', 'VISA', 'MASTERCARD']
                },
                tokenizationSpecification: {
                  type: 'PAYMENT_GATEWAY',
                  parameters: {
                    gateway: 'example',
                    gatewayMerchantId: 'exampleGatewayMerchantId'
                  }
                }
              }
            ],
            merchantInfo: {
              merchantId: '12345678901234567890',
              merchantName: 'Demo Merchant'
            },
            transactionInfo: {
              totalPriceStatus: 'FINAL',
              totalPriceLabel: 'Total',
              totalPrice: '100.00',
              currencyCode: 'BRL',
              countryCode: 'BR'
            }
          }"
        ></google-pay-button>
      </div>

      <div class="row d-flex justify-content-center mt-5 mb-3">
        <button
          (click)="confirCompra()"
          [routerLink]="['/home']"
          class="text-light cor-buttom btn shadow-sm rounded-1 mb-2"
        >
          Finalizar compra
        </button>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
