@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

.container {
  font-family: "Roboto", sans-serif;
}

.cor-buttom {
  background-color: #b5bf65;
  width: 180px;
  border-radius: 30px;
}
.cor-buttom:hover {
  background-color: #90a641;
}

.cor-buttom-2 {
  background-color: #b5bf65;
  border-radius: 30px;
}
.cor-buttom-2:hover {
  background-color: #90a641;
}

