@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.container{
    font-family: 'Roboto', sans-serif;
}

.vitrine-bg{
    background-color: #b4bf658e;
}

.bg-infor-book{
    background-color: #ffff;
}

.bg-infor-book-2{
    background-color: rgb(236, 236, 236);
}

.cor-buttom{
    background-color:  #B5BF65;
    width: 180px;
    border-radius: 25px;
}
.cor-buttom:hover {
    background-color: #90A641;
}

.img-size-card{
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  color: white;
  width: 30px;
  height: 30px;
  font: 25px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(202, 202, 202);
  }
.qty .minus {
  cursor: pointer;
  display: inline-block;
  color: white;
  width: 30px;
  height: 30px;
  font: 25px/1 Arial,sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: rgb(202, 202, 202);
}
div {
  text-align: center;
}
.minus:hover{
  background-color: #90A641 !important;
}
.plus:hover{
  background-color: #90A641 !important;
}
/*Prevent text selection*/

input{  
  border: 0;
  width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled{
  background-color:white;
}


