@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.container{
    font-family: 'Roboto', sans-serif;
}

.vitrine-bg{
    background-color: #b4bf658e;
}

.bg-infor-book{
    background-color: #ffff;
}

.bg-infor-book-2{
    background-color: rgb(236, 236, 236);
}

.cor-buttom{
    background-color:  #B5BF65;
    width: 180px;
}
.cor-buttom:hover {
    background-color: #90A641;
}

.img-size-card{
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
}

.product-count .qtyminus,
  .product-count .qtyplus {
    width: 34px;
      height: 34px;
      background: transparent;
      text-align: center;
      font-size: 19px;
      line-height: 34px;
      color: #B5BF65;
      cursor: pointer;
      font-weight: 600;
  }
  .product-count .qtyminus {
      line-height: 32px;
  }
  .product-count .qtyminus {
    border-radius: 3px 0 0 3px; 
  }
  .product-count .qtyplus {
    border-radius: 0 3px 3px 0; 
  }
  .product-count .qty {
    width: 60px;
    text-align: center;
    border: none;
  }
  .count-inlineflex {
    display: inline-flex;
    border: solid 2px #ccc;
    border-radius: 20px;  
  }

