<!--corpo-->
<div class="container">
  <!-- linha livros e infor de compra -->
  <div class="row mt-5 d-flex justify-content-center">
    <!--foto-->
    <div class="col-md-3 d-flex justify-content-center">
      <img src="{{ book.foto }}" class="shadow-sm" alt="..." />
    </div>
    <!--infor-->
    <div class="col-md-3 justify-content-center">
      <div class="card-body">
        <div class="text-center justify-content-center">
          <h4 class="card-title">{{ book.title }}</h4>
          <h5>{{ book.author }}</h5>
          <h3>{{ book.price | currency: "BRL" }}</h3>

          <!-- escolha de tipo de livro -->
          <!-- <div class="form-group">
            <div class="form-check form-check-inline" *ngFor="let enum of enum_details">
              <input class="form-check-input" type="radio" id="enum_answer_{{enum.name}}" [value]='enum.name'
                type="radio" name="enums" [(ngModel)]="book.format">
              <label class="form-check-label" for="enum_answer_{{enum.name}}">{{enum.name}}</label>
            </div>
          </div>
        </div> -->
          <!-- campo de  CEP 

        <div class="form-group my-3">          
          <p>Calcular o Frete</p>
          <div class="d-flex justify-content-start ">            
            <form class="form-inline ">
              <input class="form-control " formControlName="cep" type="text" mask="00000-000" name="cep" id="cep"
              placeholder="Ex: 01234-567">
              <button class="btn my-2 my-sm-0 btn-color rounded-0" name="cep" id="cep" mask="00000-000" type="submit" (click)='buscarCEP()'><i class="fa fa-search "></i></button>
            </form>
          </div>          
        </div> -->

        <!-- testetestestestes -->


          <!--Botoes-->
          <!-- <div class="row pt-3">
          <div class=" ml-3 d-flex justify-content-center">
            <button type="submit" href="#" class="text-light cor-buttom btn mr-3 shadow-sm rounded-0"> Adicionar ao
              carrinho </button>
            <button type="submit" class="text-light cor-buttom btn ml-3 shadow-sm rounded-0"> Finalizar pedido </button>
          </div>
        </div> -->
          <!-- <div class="d-flex flex-row bd-highlight mb-3">
          <div class="row d-flex justify-content-center">
            <button type="text" href="#" class="text-light cor-buttom btn shadow-sm rounded-1 mb-2"> Adicionar ao carrinho </button>
            <button type="text" class="text-light cor-buttom btn shadow-sm rounded-1"> Finalizar pedido </button>
          </div>
        </div> -->
          <div class="d-flex flex-column bd-highlight mb-3 mt-5">
            <div class="row d-flex justify-content-center">
              <button
                type="submit"
                href="#"
                class="text-light cor-buttom btn shadow-sm rounded-1 mb-2"
              >
                Adicionar ao carrinho
              </button>
            </div>
            <div class="row d-flex justify-content-center">
              <button
                type="submit"
                class="text-light cor-buttom btn shadow-sm rounded-1" [routerLink]="['/payment']"
              >
                Finalizar pedido
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sinopse -->
    <div class="row ml-5 mr-5 mt-5 pt-3 pb-2">
      <table class="table table-striped table-responsiv bg-infor-book shadow-sm">
        <thead>
          <tr>
            <th scope="col d-flex justify-content-center">
              Informações do produto
            </th>
          </tr>
          <tr class="bg-infor-book-2 vw-text vw-text-active">
            <p class="card-text ml-3 mr-3 pt-1 pb-1 text-justify">
              {{ book.description }}
            </p>
          </tr>
        </thead>
      </table>
    </div>
    <!--infor book-->
    <div class="container">
     <div class="col-md-12 d-flex justify-content-center">
      <table class="col-md-5 table table-striped table-responsiv shadow-sm mr-1">
        <tbody>
          <tr>
            <th class="col-3" scope="row">ID</th>
            <td>{{book.idProduct}}</td>
          </tr>
          <tr>
            <th scope="row">Título</th>
            <td>{{book.title}}</td>
          </tr>
          <tr>
            <th scope="row">Autor</th>
            <td>{{book.author}}</td>
          </tr>
          <tr>
            <th scope="row">Idioma</th>
            <td>{{book.language}}</td>
          </tr>
          <tr>
            <th scope="row">Editora</th>
            <td>{{book.publisher}}</td>
          </tr>
          <tr>
            <th scope="row">País</th>
            <td>{{book.country}}</td>
          </tr>
          <tr>
            <th scope="row">Ano</th>
            <td>{{book.year}}</td>
          </tr>
          <tr>
            <th scope="row">Páginas</th>
            <td>{{book.pages}}</td>
          </tr>
          <tr>
            <th scope="row">ISBN</th>
            <td>{{book.isbn}}</td>
          </tr>
          <tr>
            <th scope="row">EAN</th>
            <td>{{book.ean}}</td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>
  </div>
</div>
