<div class="card mb-6" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{book.foto}}" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
            <h4 class="card-title">{{book.title}}</h4>
            <h5> {{book.author}} </h5>
            <h3> {{book.price}} </h3>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Brochura</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">E-Book</label>
            </div>
        </div>
        <div class="form-group my-3">
          <div class="label">CEP</div>
            <input class="form-control" type="text" mask="00000-000" name="cep" id="cep" placeholder="Ex: 01234-567">
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary btn-sm mt-2 mr-2" (click)='buscarCEP()'>Buscar</button>
          </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger mr-3" > Adicionar ao carrinho </button>
            <button type="submit" class="btn btn-success ml-3"> Comprar </button>
        </div>
      </div>
    </div>
  </div>
  <div>
<p class="card-text">{{book.description}}</p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <th scope="row">ID</th>
      <td>{{book.idProduct}}</td>
    </tr>
    <tr>
      <th scope="row">Título</th>
      <td>{{book.title}}</td>
    </tr>
    <tr>
      <th scope="row">Autor</th>
      <td>{{book.author}}</td>
    </tr>
    <tr>
      <th scope="row">Idioma</th>
      <td>{{book.language}}</td>
    </tr>
    <tr>
      <th scope="row">Editora</th>
      <td>{{book.publisher}}</td>
    </tr>
    <tr>
      <th scope="row">País</th>
      <td>{{book.country}}</td>
    </tr>
    <tr>
      <th scope="row">Ano</th>
      <td>{{book.year}}</td>
    </tr>
    <tr>
      <th scope="row">Páginas</th>
      <td>{{book.pages}}</td>
    </tr>
    <tr>
      <th scope="row">ISBN</th>
      <td>{{book.isbn}}</td>
    </tr>
    <tr>
      <th scope="row">EAN</th>
      <td>{{book.ean}}</td>
    </tr>
  </tbody>
</table>



</div>







